<p>選択した質問内容</p>
<li><%= @question.id %>:<%= @question.que_content %></li>
</br>
<%= form_for @answer_new do |form| %>
<%= render 'answers/form' %>
<% end %>


<p>回答一覧</p>
<ul>
<% @answer_all.each do |answer| %>
<li><%= answer.id %>:<%= answer.answer_ent_kbn %>:<%= answer.answer_content %></li>
<% end %>
</ul>

<%= link_to 'Back', root_path %>