    <div class="container">
      <div class="hero-unit base">
        <div>
          <h1 style="text-align: center;">
            Wantscom
          </h1>
        </div>
        <div class="well saijyoubu">
          <div class="well profile">
            <p>選択した質問内容</p>
            <div class="well box-B">
              <div>
                <li>質問題名：<%= @question.que_title %></li>
              	<li>質問内容：<%= @question.que_content %></li>
              </div>
            </div>
            <img src="http://i.imgur.com/Asf2J.jpg" style=" width: 110px; height: 150px;">
		  </div>
          <div class="hero-unit comment"> 
            <div class="control-group">
              <%= form_for @answer_new do |form| %>
			  <%= render 'answers/form' , form: form %>
			  <% end %>
            </div>
         </div>
       </div>
        <p>回答一覧</p>
        <ul><% @answer_all.each do |answer| %>
        <div class="well saijyoubu">
          <div class="well answer">
            <div class="well box-A">
              <div>
              <li>
				回答内容：<%= answer.answer_content %></br>
				回答URL：<%= link_to '回答URL', answer.answer_url %></br>
				ユーザー名：<%= current_user.username %>
					<%= link_to( 'profile', { :para => answer.answer_user_id } ) %>
			 </li>
			 <% if current_user.id == answer.answer_user_id %>
			 <td><%= link_to '回答を削除', answer, :method => :delete %></td>  
			   <% end %>
                  
              </div>
            </div>
          </div>
          <img class="henshinsya" src="http://i.imgur.com/Asf2J.jpg" style=" width: 100px; height: 141px;">
        </div>
      </div>
  </div>

    <style>
      .comment {
       background-color :#808080;
       }
      .saijyoubu{
      background-color :#c0c0c0;
      }
      
      .tennpufile {
      background-color :#808080 ; 
      border-color:#808080;     
      }
      
      .tennpufile {
       display: block;
       margin-left: auto;
       margin-right: auto;
       text-align: center;
      }   
      
      .nyuuryoku{width: 400px;}
      .nyuuryoku{height: 100px}
      
      .tennpufile {width: 300px;}
      
      .saijyoubu {width: 800px}
      
      
      
      .saijyoubu {
          display: block;
       margin-left: auto;
       margin-right: auto;
       text-align: center;
          }
      
      
      .comment {display: block;
       margin-left: auto;
       margin-right: auto;
       text-align: center;
      }   
      
      .base{display: block;
       margin-left: auto;
       margin-right: auto;
       text-align: center;
      }   
      .base{ width: 900px;}
      
      .box-A {
        float: left;
        width: 500px;
        height: px; 
        background-color: ;
      }
      
      
      .box-B {
           float: right;
        width: 500px;
        height: px; 
        background-color: ;
      }  
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script src="assets/js/bootstrap.js">
    </script>

    <% end %></ul>  
  <%= link_to 'Back', root_path %>
</div>

