<div class="hero-unit base">
  <div>
    <h1 style="text-align: center;">
      Wantscom
    </h1>
    <br>
    &nbsp;
  </div>
  <div class="well saijyoubu">
    <div class="well profile">
      <p>選択した質問内容</p>
      <div class="well box-B">
        <div>
          <li><%= @question.que_content %></li>
        </div>
      </div>
      <img src="http://i.imgur.com/Asf2J.jpg" style=" width: 110px; height: 150px;">
    </div>
    <div class="hero-unit comment"> 
      <div class="control-group">
        <%= form_for @answer_new do |form| %>
          <%= render 'answers/form' %>
        <% end %>
      </div>
    </div>
  </div>
  <p>回答一覧</p>
  <ul><% @answer_all.each do |answer| %>
      <div class="well saijyoubu">
        <div class="well answer">
          <div class="well box-A">
            <div>
              <li>
              回答題名：<%= answer.answer_title %></br>
              回答内容：<%= answer.answer_content %></br>
              回答URL：<%= answer.answer_url %></br>
              ユーザー名：<%= current_user.username %>
              <%= link_to('profile', { :controller => 'users', :action => 'show' ,:para => current_user.id } ) %>
              </li>
              <% if current_user.id == answer.answer_user_id %>
                <td><%= link_to '回答を削除', answer, :method => :delete %></td>  
              <% end %>

            </div>
          </div>
          <img class="henshinsya" src="http://i.imgur.com/Asf2J.jpg" style=" width: 100px; height: 141px;">
        </div>
      </div>
    <% end %></ul>  
  <%= link_to 'Back', root_path %>
</div>

