<p>選択した質問内容</p>

<li><%= @question.id %>:<%= @question.que_content %></li>

<p>回答する。</p>

<%= form_for @answer_new do |form| %>
<%= render 'answers/form' %>
<% end %>


<p>回答一覧</p>
<ul>
<% @answer_all.each do |answer| %>
<li><%= answer.id %>:<%= answer.answer_content %></li>
<% end %>
</ul>

<%= link_to 'Back', root_path %>