<p>選択した質問内容</p>
<li><%= @question.id %>:<%= @question.que_content %></li>
</br>
<%= form_for @answer_new do |form| %>
<%= render 'answers/form' %>
<% end %>


<p>回答一覧</p>
<ul>
<% @answer_all.each do |answer| %>
<li>質問ID：<%= answer.answer_question_id %></br>
　　　 回答ID：<%= answer.id %></br>
	回答区分：<%= answer.answer_ent_kbn %></br>
	回答題名：<%= answer.answer_title %></br>
	回答内容：<%= answer.answer_content %></br>
	回答URL：<%= answer.answer_url %>
</li>
<td><%= link_to '回答を削除', answer, method: :delete %></td>
<% end %>
</ul>

<%= link_to 'Back', root_path %>