<div class="hero-unit base">
  <div>
    <h1 style="text-align: center;">
      Wantscom
    </h1>
    <br>
    &nbsp;
  </div>

  <div class="well saijyoubu">
    <img src="http://sanespaces.com/wp-content/uploads/2011/10/want-post.png"
    style=" width: 400px; height: 261px;">
    <%= form_for @question_new do |form| %>
      <%= render 'questions/form', form: form %>
    <% end %>
    <ul class="nav nav-tabs">
      <li class="active">
      <a href="#">
        Question
      </a>
      </li>
      <li class="">
      <a href="#">
        Answer
      </a>
      </li>
      <li class="">
      <a href="#">
        Unanswered
      </a>
      </li>
    </ul>           
    <ul>
      <% @question_all.each do |question| %>
        <div class="well">
          <div>
            <h2>	
              <li><%= question.id %>:<%= question.que_ent_kbn %>:<%= question.que_title %>:<%= question.que_content %><%= link_to '回答する。', question %></li>
              <td><%= link_to '質問を削除する。', question, method: :delete %></td>
            </h2>
          </div>
        </div>
      <% end %>
    </ul>
  </div>
</div>
