<div class="hero-unit base">
  <h2>認証メールの再送信</h2>
  <div class="well saijyoubu">

    <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label "メールアドレス" %>
        <%= f.email_field :email, :autofocus => true %></div>

      <div><%= f.submit "再送信" %></div>
    <% end %>
  </div>
  <%= render "devise/shared/links" %>
</div>
