<div class="hero-unit base">
  <h2>Sign up</h2>
  <div class="well saijyoubu">
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label "ユーザ名" %>
        <%= f.text_field :username, :autofocus => true %></div>

      <div><%= f.label "メールアドレス" %>
        <%= f.email_field :email %></div>

      <div><%= f.label "パスワード" %>
        <%= f.password_field :password %></div>

      <div><%= f.label "パスワード（確認）" %>
        <%= f.password_field :password_confirmation %></div>

      <div><%= f.submit "Sign up" %></div>
    <% end %>
  </div>
<%= render "devise/shared/links" %>
</div>
