<div class="hero-unit base">
  <div class="hero-unit saijyoubu">
    <div class="well profile">
      <img class="syashin" src="http://i.imgur.com/Asf2J.jpg" style=" width: 200px; height: 261px;">
      <h3>
          <%= @username %>
      </h3>
      <div>
      </div>
      <div>
        <p>
        最終ログイン時間：<%= @user_last_sign_in %>
        </p>
        <p>
        登録メールアドレス：<%= @user_email %>
        </p>
        <p>
        登録日: <%= @user_sign_up_time %>
        </p>
  </div>
</div>
<ul class="nav nav-tabs">
  <li class="active">
  <a href="#">
    依頼
  </a>
  </li>
  <li class="">
  <a href="#">
    回答
  </a>
  </li>
  <li class="">
  </a>
  </li>
</ul>
<div class="well">
  <h2>
    質問一覧
  </h2>
    <% @question_user_all.each do | question | %>
      <h4>
        【質問タイトル】 <%= link_to question.que_title, question %>
      </h4>
      <p>
      【質問内容】<%= question.que_content %>
      </p>
    <% end %>
</div>
<div class="well">
  <h2>
    回答一覧
  </h2>
  <% @answer_user_all.each do | answer | %>
  <% @question_user_all.each do | question | %>
      <h4>
       【質問タイトル（回答）】 <%= link_to question.que_title, question %>
      </h4>
      <p>
      【回答内容】 <%= answer.answer_content %>
      </p>
      <p>
      【回答URL】  <%= link_to answer.answer_url, answer.answer_url %>
    <% end %>
  <% end %>
  </div>
      </div>
