<div class="hero-unit base">
  <div class="hero-unit saijyoubu">
    <div class="well profile">
      <img class="syashin" src="http://i.imgur.com/Asf2J.jpg" style=" width: 15%; height: 15%;">
      <h3>
          <%= @username %>
      </h3>
      <div>
      </div>
      <div>
        <p>
        最終ログイン時間：<%= @user_last_sign_in.strftime('%Y年%m月%d日 %H:%M') %>
        </p>
        <p>
        登録メールアドレス：<%= @user_email %>
        </p>
        <p>
        登録日: <%= @user_sign_up_time.strftime('%Y年%m月%d日') %>
        </p>
  </div>
</div>
<ul class="nav nav-tabs">
  <li class="active">
  <a href="#">
    依頼
  </a>
  </li>
  <li class="">
  <a href="#">
    回答
  </a>
  </li>
  <li class="">
  </a>
  </li>
</ul>
<div class="well">
  <h3>
    質問一覧
  </h3>
  <table class="tablefixed"><tr><td>回答数</td><td>質問</td><td>投稿日時</td>

          </tr>
       <% @question_user_all.each do | question | %>         
          <tr><td><%= question.answers.count %> </td><td>
            <%= link_to question.que_title, question %>
          </td>
          <td><%= question.created_at.strftime('%Y年%m月%d日 %H:%M') %>
        </td>
      </tr>
    <% end %>
    </table>

    <p align="right">    <%= link_to('全投稿を表示', { :controller => 'user', :action => 'showall'}) %>
  </p>
</div>
<div class="well">
  <h3>
    回答一覧
  </h3>
  
  <table class="tablefixed"><tr><td width="300">回答</td><td>回答日時</td></tr>
  <% @answer_user_all.each do | answer | %>
  <tr>
    <td> <%= link_to  answer.answer_content,answer.answer_url %> </td>
    <td> <%= answer.created_at.strftime('%Y年%m月%d日 %H:%M') %> </td>
  </tr>
<% end %>
</table>
  </div>
      </div>
