<%= form_for(@answer_new) do |f| %>
  <% if @answer_new.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(@answer_new.errors.count, "error") %> prohibited this answer from being saved:</h2>
      <ul>
      <% @answer_new.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :answer_content %><br />
    <%= f.text_field :answer_content %><br />
    <%= f.label :answer_title %><br />
    <%= f.text_field :answer_title %><br />

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
