<%= render "shared/errors" , obj: @answer_new %>
  <div class="field">
  	<%= form.hidden_field :answer_question_id, :value => @question.id %>
    <%= form.label :回答内容 %><br />
    <%= form.text_area :answer_content %><br />
    <%= form.label :URL%><br />
    <%= form.text_field :answer_url %><br />
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
