<div class="hero-unit base">
  <h2>サインイン</h2>
  <div class="well saijyoubu">

<%if false%>
    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>

      <div><%= f.label "ユーザ名またはメールアドレス" %>
        <%= f.text_field :login %></div>

      <div><%= f.label "パスワード" %>
        <%= f.password_field :password %></div>
      <br />
      <% if devise_mapping.rememberable? -%>
        <div><%= f.label "ログイン情報を保持する" %><%= f.check_box :remember_me %></div><br />
      <% end -%>
<%end%>
      <div><%= f.submit "Sign in" %></div>
      <li><%= link_to "facebookでログイン", user_omniauth_authorize_path(:facebook) %></li>
      <li><%= link_to "twitterでログイン", user_omniauth_authorize_path(:twitter)  %></li> 
    <% end %>
  </div>
  <%= render "devise/shared/links" %>
</div>
